.container {
  position: relative;
  z-index: 20;
  height: 260px;
  width: 100%;
  border: 5px solid var(--color-border);
  padding: 2.5rem;
  max-width: 798px;
  margin-inline: auto;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 0.7rem;
  min-height: 32rem;
}

.axisWhite :global(.recharts-cartesian-grid line) {
  stroke: var(--color-border);
}

.tooltipWhite {
  padding: 1.25rem;
  min-width: 10rem;
  background-color: var(--color-bg);
}

@media (min-width: 768px) {
  .container {
    height: 320px;
  }
}
