.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 2px solid black;
}
