* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 2px solid black;
}

.page-titles {
  padding: 1.25rem;
  text-align: center;
}

.climateSection {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
