@import "tailwindcss/utilities.css" layer(utilities);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.absolute5,
.absolute6 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    #000 5%,
    transparent 100%
  );
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
}

.absolute6 {
  right: 0;
}

.absolute5:hover,
.absolute6:hover,
.absolute7:hover,
.absolute8:hover {
  filter: sepia(4.6) saturate(10.2) hue-rotate(-15deg) brightness(1.05);
}

html,
body {
  height: 100%;
}

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.6;
  background-color: #010514;
  color: white;
}

a {
  color: white;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #b94515;
}

.link:focus-visible,
.buttonLink:focus-visible {
  outline: 2px solid #b94515;
}

.buttonLink {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #b94515;
  padding: 1rem 2rem;
}

.buttonLink:hover {
  background-color: #b94515;
}

.page-titles {
  padding: 2.5rem;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #b94515;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.text {
  max-width: 780px;
  margin-inline: auto;
  padding: 0px 2.5rem;
  padding-bottom: 2.5rem;
}

.page-link {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.climateSection {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

.climate-worst,
.climate-calc,
.climateSection,
.slug-section {
  position: relative;
  min-height: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  display: block;
  margin-inline: auto;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}
