@import "tailwindcss/utilities.css" layer(utilities);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.6;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 2px solid black;
}

.page-titles {
  padding: 2.5rem;
  text-align: center;
  font-size: 2rem;
}

.page-link {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 1.25rem;
  border: 1px solid black;
}

.climateSection {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
