.welcome {
  position: relative;
  z-index: 20;
  max-width: 798px;
  margin-inline: auto;
  border: 5px solid var(--color-border);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--color-bg);
}

.calcTitle {
  text-decoration: underline;
  text-decoration-color: var(--color-btnBorderUnderlineLink);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
