.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  margin-inline: auto;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 2.5rem;
  border: 1px solid #fd1d75;
  border: 5px solid #082b3f;
}
