.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.25rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 2.5rem;
  border: 1px solid black;
}
