.form {
  position: relative;
  z-index: 10;
  max-width: 798px;
  margin-inline: auto;
  border: 5px solid #082b3f;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #010514;
}

.group {
  border: 1px solid #082b3f;
}

.label {
  display: flex;
  padding: 1.25rem;
  cursor: pointer;
  gap: 1.25rem;
}

.formTitle {
  text-decoration: underline;
  text-decoration-color: #b94515;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.label:hover {
  background-color: #082b3f;
}

.btnAndText {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem 0;
}

.questionDiv {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.stopCalcBtn {
  background-color: transparent;
  color: #b94515;
  border: none;
  cursor: pointer;
}
